<a href="https://colab.research.google.com/github/SIIROHI/Assignment-1/blob/main/Assignment4_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ques1: 1.	Computing factorial of a given integer using both recursive and iterative procedures (for/while loop).
# using for loop 

def get_factorial_for_loop(n):
    result = 1
    if n > 1:
        for i in range(1, n+1):
            result = result * i
        return result
    else:
        return 'n has to be positive'
n= int(input())
get_factorial_for_loop(n)

5

120

In [ ]:
# using while loop
def get_factorial_while_loop(n):
    result = 1
    while n > 1:
        result = result * n
        n -= 1
    return result
n= int(input())
get_factorial_for_loop(n)

5

120

In [ ]:
# using recursion

def get_factorial_recursively(n):
    if n <= 1:
        return 1
    else:
        return n * get_factorial_recursively(n-1)
inp = input("Enter a number: ")
inp = int(inp)

print(f"The result is: {get_factorial_recursively(inp)}")

Enter a number: 4
The result is: 24

In [ ]:

#Ques2: 

result=divmod(20,2)
print(result)

(10, 0)

In [ ]:
3#QUES2: A)

callable(divmod)

True

In [ ]:
# Ques 2: b)
all(result)

False

In [ ]:
#ques2: c)

result = result + (4,5,6)
print(result)
list(filter(lambda result:result>5 ,(result)))

(10, 0, 4, 5, 6)

[10, 6]

In [ ]:
#ques2: d)

set(result)

{0, 4, 5, 6, 10}

In [ ]:
#ques2: e)
frozenset(result)

frozenset({0, 4, 5, 6, 10})

In [ ]:
# ques2: f)
hash(max(result))

10

In [ ]:
'''ques3: 3.	Write a program to implement binary search with static input as all the digits of your roll number and search

 and print the index of any element. Also, specify the element in your output whose index is to be searched.'''

def binary_search(my_list, low, high, elem):
   if high >= low:
      mid = (high + low) // 2
      if my_list[mid] == elem:
         return mid
      elif my_list[mid] > elem:
         return binary_search(my_list, low, mid - 1, elem)
      else:
         return binary_search(my_list, mid + 1, high, elem)
   else:
      return -1
     
my_list = [ 2, 1, 1, 0, 4, 0, 4, 0 ]
elem_to_search = 0
print("The list is")
print(my_list)

my_result = binary_search(my_list,0,len(my_list)-1,elem_to_search)

if my_result != -1:
   print("Element %d" % elem_to_search, "found at index ", str(my_result))
else:
   print("Element not found!")

The list is
[2, 1, 1, 0, 4, 0, 4, 0]
Element 0 found at index  3

In [ ]:
#ques4: 4.	Create a class named Student, use the_init_() function to assign values for name and roll number.

class Student:
  def __init__(self, name, rollno,):
    self.name = name
    self.rollno = rollno

p1 = Student("Daanisha", 40)

print(p1.name)
print(p1.rollno)

Daanisha
40

In [ ]:
# Ques 5: 5.	Write a program to store details of two employe: name and salary using class

class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print ("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)
"This would create first object of Employee class"
emp1 = Employee("Mehak", 40000)
"This would create second object of Employee class"
emp2 = Employee("Ashok", 50000)
"This would create first object of Employee class"
emp3 = Employee('Viren', 60000)
emp1.displayEmployee()
emp2.displayEmployee()
emp3.displayEmployee()
print ("Total Employee %d" % Employee.empCount)

Name :  Mehak , Salary:  40000
Name :  Ashok , Salary:  50000
Name :  Viren , Salary:  60000
Total Employee 3

In [ ]:
#Ques5: a)

emp1.salary = 70000
emp1.displayEmployee()

Name :  Mehak , Salary:  70000

In [ ]:
# qes5: b)
del emp3
emp3.displayEmployee()

NameError: ignored